[submodule "orbslam3"]
	path = orbslam3
	url = https://github.com/zang09/ORB_SLAM3_ROS2.git
[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
